
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
</h1>
Filtre Detayları
<h1>
    <p>
    @ViewBag.bookpickdate = bookpickdate;
    @ViewBag.bookoffdate = bookoffdate;
    @ViewBag.timepick = timepick;
    @ViewBag.timeoff = timeoff;
    @ViewBag.locationID = locationID;
    </p>
